.image:hover {
  cursor: pointer;
}

.descriptionContainer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description {
  background-color: var(--mantine-color-gray-8);
  padding: 10px;
  margin-bottom: var(--mantine-spacing-md);
}

.lableTitles {
  font-weight: 900;
}

.imageContainer {
  overflow: hidden;
}

.hoverZoom {
  transition: transform 0.3s ease;
  width: 100%;
}

.hoverZoom:hover {
  transform: scale(1.1);
}