.label {
  color: var(--mantine-color-titles-1);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
  transition: color 0.2s ease;
}

.label:hover {
  color: var(--mantine-color-titles-2);
}

.nestedLabel {
  color: var(--mantine-color-titles-1);
  font-size: 18px;
  font-weight: 100;
  overflow: hidden;
  margin-bottom: 5px;
  transition: color 0.2s ease;
}

.nestedLabel:hover {
  color: var(--mantine-color-titles-2);
  text-decoration: underline;
}