.infoButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mantine-spacing-md);
}

.infoButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 150px;
  padding: 0 var(--mantine-spacing-md);
  border: 0.1px solid var(--mantine-color-gray-5);
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.infoButtons:hover {
  background-color: var(--mantine-color-gray-3);
  color: black;
  cursor: pointer;
}

.submenuContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.submenuItem {
  flex: 1;
  transition: flex 0.5s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.submenuItem:hover {
  flex: 6.5;
}

.image {
  height: 100%;
  width: auto;
  object-fit: fill;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.submenuItem:hover .image {
  filter: grayscale(0%);
}
